body{
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.button-add{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
}
.button-delete{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background: none;
  border-radius: 20px;
  border: 0;
  font-weight: bolder;
  color: brown;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.App {
  display: flex;
  justify-content: space-around;
}
.whole-plan {
  width:70%;
  height: 100vh;
}

.myInput{
  width:100%;
  height:20px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width:100%;
  height:200px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
.selected{
  background-color: #fad106;
}
.default{
  background-color: #dcedf7;
}
p{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.field{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}